@import '~materialize-css/sass/materialize';

body {
    font-family: "Roboto", sans-serif !important;
    color: #737373;
}

.focused{
    outline: dotted black;
}

.big-label{
    font-size: 2.5em;
}

.margin-bottom-35{
    margin-bottom: 70px;
}

.blank-space-130{
    height: 130px;
}

.padding-20-30{
    padding: 20px 30px;
}

.rounded{
    -webkit-border-radius: 130px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 130px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 130px;
    border-bottom-left-radius: 0;
}

.fit-content{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.bg-pink{
    @extend .pink, .lighten-3;
}