


body {
    font-family: "Roboto", sans-serif !important;
    color: #737373;
}

html, body, .container, main{
    height: 100%;
}

.focused{
    outline: dotted black;
}

.big-label{
    font-size: 2.5em;
}

.margin-bottom-35{
    margin-bottom: 70px;
}

.blank-space-130{
    height: 130px;
}

.padding-20-30{
    padding: 20px 30px;
}


.rounded-1101{
    -webkit-border-radius: 130px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 130px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 130px;
    border-bottom-left-radius: 0;
}

.rounded{
    -webkit-border-radius: 130px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 130px;
    border-radius: 130px;

}

.fit-content{
    display: inline-block;
}

.bg-pink{
    @extend .pink, .lighten-2;
}

.bg-blue{
    @extend .blue, .lighten-2;
}

.display{
    display: block !important ; 
}
.btn-large-bubble{
    @extend .btn-large;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 130px !important;
}
.btn-large-bubble__choiced{
    @extend .btn-large;
    -webkit-border-radius: 130px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 130px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 130px !important;
    border-bottom-right-radius: 0!important;
}

.container-form-chat{
    height: 100%;
}
.chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: height 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    height: 0;
}
.translate{
    height: 70%;
}

.answer-question, .answer{
    will-change: opacity;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}


.show{
    transform: scale(1);
}

main{
    overflow: hidden;
}


@import '~materialize-css/sass/materialize';
@import '~materialize-css/sass/components/_variables.scss';